<html>
<head>
<style>
body{
    text-align: center;
    margin-top: 50px;
    background-color: lightblue;
}
   h1{
    color: orange;
   }
h5{
    color: red;
    background-color: blue;
}
input[type="submit"]{
    background-color: red;
    color: green;
    margin: 4px;
}
   footer{
    position: sticky;
   }
</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " /><br>
    <br>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p><br>
    <br>
    <br>
    <footer>
        <h5>Created by Sriram</h5>
    </footer>
</body>
</html>
